<section class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__content">
                <h2 class="about__title title _anim-items">
                    о клубе
                </h2>
                <h3 class="about__subtitle subtitle _anim-items">
                    Начни свое преображение
                    с Level Fitness
                </h3>
                <div class="about__text">
                    <p>Все групповые программы Level Fitness построенны на профессионализме, неравнодушии и чувстве
                        прекрасного.
                    </p>
                    <p> Главная особенность — осознанные тренировки, основанные на глубоких знаниях человеческой
                        биомеханики. Наш подход обеспечит не только красоту тела, но и здоровье.</p>
                </div>
            </div>
            <div class="about__image">
                <img class="about__img" src="images/image2.jpg" alt="фитнесс-модель качает пресс" width="445" height="303">
            </div>
        </div>     
        
    </div>
    <div class="about__heading">
        <img class="about__heading-top" src="images/level.png" alt="название клуба">
        <img class="about__heading-bottom" src="images/fitness.png" alt="название клуба">
    </div>
   
</section>