<section class="advantages">
    <div class="container">
        <h2 class="advantages__title title _anim-items">
            почему мы
        </h2>
        <h3 class="advantages__subtitle subtitle _anim-items">
            Наши преимущества
        </h3>
        <ul class="advantages__list">

            <li class="advantages__item">
                <div class="advantages__item-inner">
                    <a class="advantages__item-link" href="#">
                        <img class="advantages__item-image" src="images/image3.jpg"
                            alt="бодибилдер поднимает штангу" width="350" height="404">
                    </a>
                    <span class="advantages__item-num _anim-items">1</span>
                    <span class="advantages__item-num__shadow">1</span>
                </div>
                <div class="advantages__item-content">
                    <a class="advantages__item-title__link" href="#">
                        <h4 class="advantages__item-title subtitle">
                            Топовые тренеры
                        </h4>
                    </a>
                    <a class="advantages__item-link__text" href="#">
                        <div class="advantages__item-text">
                            <p>Для вас работают преподаватели имеющие
                                в общей сумме более 10 лет преподавательской практики, непрерывно совершенствующие свой
                                уровень знаний.</p>
                        </div>
                    </a>
                </div>
            </li>

            <li class="advantages__item">
                <div class="advantages__item-inner">
                    <a class="advantages__item-link" href="#">
                        <img class="advantages__item-image" src="images/image4.jpg"
                            alt="фитнесс-модель качает руки" width="350" height="404">
                    </a>
                    <span class="advantages__item-num _anim-items">2</span>
                    <span class="advantages__item-num__shadow">2</span>
                </div>
                <div class="advantages__item-content">
                    <a class="advantages__item-title__link" href="#">
                        <h4 class="advantages__item-title subtitle">
                            Улучшение здоровья
                        </h4>
                    </a>
                    <a class="advantages__item-link__text" href="#">
                        <div class="advantages__item-text">
                            <p>Мы помогаем обрести уверенность в себе,
                                с помощью раскрытия таланта и развития физических возможностей. Поможем уйти блокам и
                                зажатости. А взамен придет лёгкость, гибкость тела и ума.ки, непрерывно совершенствующие
                                свой уровень знаний.</p>
                        </div>
                    </a>
                </div>
            </li>

            <li class="advantages__item">
                <div class="advantages__item-inner">
                    <a class="advantages__item-link" href="#">
                        <img class="advantages__item-image" src="images/image5.jpg" alt="фитнесс-модель бежит"
                            width="350" height="404">
                    </a>
                    <span class="advantages__item-num _anim-items">3</span>
                    <span class="advantages__item-num__shadow">3</span>
                </div>
                <div class="advantages__item-content">
                    <a class="advantages__item-title__link" href="#">
                        <h4 class="advantages__item-title subtitle">
                            Насыщенное расписание
                        </h4>
                    </a>
                    <a class="advantages__item-link__text" href="#">
                        <div class="advantages__item-text">
                            <p>Возможность заниматься в любое время
                                с 08:00 до 22:00</p>
                        </div>
                    </a>
                </div>
            </li>

        </ul>
    </div>
</section>