<div class="form-registration" style="background-image: url('../../images/level_bg.png');">
    <h2 class="form-registration__title subtitle _anim-items">
        Приходите на первое бесплатное занятие
    </h2>
    <div class="form-registration__text">
        <p>
            Первое занятие является бесплатным исключительнодля новых посетителей фитнес центра. 
        </p>
        <p>
            Стоимость посещения групповых занятий, а так же стоимость абониментов в фитнес центр уточняйте у менеджера. 
        </p>
    </div>
    <button class="form-registration__button button">
        зарегистрироваться
    </button>
</div>