<section class="programs about">
    <div class="container">
        <div class="about__inner">
            <div class="about__content">
                <h2 class="about__title title _anim-items" id="programs">
                    как будем работать
                </h2>
                <h3 class="about__subtitle subtitle _anim-items">
                    Наши программы
                </h3>
                <div class="about__text">
                    <p>У нас широкий и сбалансированный выбор тренировок. Разнообразие нагрузок поможет комплексно
                        развить тело и решить любые задачи.
                    </p>
                    <p>В основе всех тренировок — движение в трех плоскостях для наиболее эффективной и безопасной
                        активации тела! Тренируйтесь в мини-группе или приходите на индивидуальные занятия.</p>
                </div>
            </div>
            <div class="about__image">
                <img class="about__img" src="images/image6.jpg" alt="фитнесс-модель качает пресс" width="445"
                    height="303">
            </div>
        </div>

        <ul class="programs__content">

            <li class="programs__item">
                <img class="programs__image" src="images/programs/program1-6.jpg" alt="HIT-тренинг" width="315"
                    height="185">
                <h4 class="programs__title subtitle _anim-items">
                    HIT-тренинг
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>

                <div class="trainers__registration hidden" data-name="registration">
                    <button class="programs__registration-btn" type="button">
                        <svg class="programs__registration-icon">
                            <use xlink:href="images/sprite.svg#close"></use>
                        </svg>
                    </button>

                    <form class="trainers__registration-form" action="#" id="registration">
                        <label class="trainers__registration-label" for="name">Имя*</label>
                        <input class="trainers__registration-input" type="text" name="name" id="name"
                            placeholder="Например Алина" required minlength="3" maxlength="30">
                        <div class="span"></div>
                        <label class="trainers__registration-label" for="phone">Номер телефона*</label>
                        <input class="trainers__registration-input" type="tel" name="phone" id="phone"
                            placeholder="+38(_ _ _) _ _ _ - _ _ - _ _" required>
                        <button class="trainers__registration-button button" type="submit" formnovalidate>Записаться на
                            тренировку</button>
                    </form>
                </div>

            </li>

            <li class="programs__item">
                <img class="programs__image" src="images/programs/program2.jpg" alt="Пилатес" width="315" height="185">
                <h4 class="programs__title subtitle _anim-items">
                    Пилатес
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>

                <div class="trainers__registration hidden" data-name="registration">
                    <button class="programs__registration-btn" type="button">
                        <svg class="programs__registration-icon">
                            <use xlink:href="images/sprite.svg#close"></use>
                        </svg>
                    </button>

                    <form class="trainers__registration-form" action="#" id="registration">
                        <label class="trainers__registration-label" for="name">Имя*</label>
                        <input class="trainers__registration-input" type="text" name="name" id="name"
                            placeholder="Например Алина" required minlength="3" maxlength="30">
                        <div class="span"></div>
                        <label class="trainers__registration-label" for="phone">Номер телефона*</label>
                        <input class="trainers__registration-input" type="tel" name="phone" id="phone"
                            placeholder="+38(_ _ _) _ _ _ - _ _ - _ _" required>
                        <button class="trainers__registration-button button" type="submit" formnovalidate>Записаться на
                            тренировку</button>
                    </form>
                </div>

            </li>

            <li class="programs__item">
                <img class="programs__image" src="images/programs/program3.jpg" alt="Зумба" width="315" height="185">
                <h4 class="programs__title subtitle _anim-items">
                    Зумба
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>

                <div class="trainers__registration hidden" data-name="registration">
                    <button class="programs__registration-btn" type="button">
                        <svg class="programs__registration-icon">
                            <use xlink:href="images/sprite.svg#close"></use>
                        </svg>
                    </button>

                    <form class="trainers__registration-form" action="#" id="registration">
                        <label class="trainers__registration-label" for="name">Имя*</label>
                        <input class="trainers__registration-input" type="text" name="name" id="name"
                            placeholder="Например Алина" required minlength="3" maxlength="30">
                        <div class="span"></div>
                        <label class="trainers__registration-label" for="phone">Номер телефона*</label>
                        <input class="trainers__registration-input" type="tel" name="phone" id="phone"
                            placeholder="+38(_ _ _) _ _ _ - _ _ - _ _" required>
                        <button class="trainers__registration-button button" type="submit" formnovalidate>Записаться на
                            тренировку</button>
                    </form>
                </div>

            </li>

            <li class="programs__item">
                <img class="programs__image" src="images/programs/program4.jpg" alt="Табата" width="315" height="185">
                <h4 class="programs__title subtitle _anim-items">
                    Табата
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>

                <div class="trainers__registration hidden" data-name="registration">
                    <button class="programs__registration-btn" type="button">
                        <svg class="programs__registration-icon">
                            <use xlink:href="images/sprite.svg#close"></use>
                        </svg>
                    </button>

                    <form class="trainers__registration-form" action="#" id="registration">
                        <label class="trainers__registration-label" for="name">Имя*</label>
                        <input class="trainers__registration-input" type="text" name="name" id="name"
                            placeholder="Например Алина" required minlength="3" maxlength="30">
                        <div class="span"></div>
                        <label class="trainers__registration-label" for="phone">Номер телефона*</label>
                        <input class="trainers__registration-input" type="tel" name="phone" id="phone"
                            placeholder="+38(_ _ _) _ _ _ - _ _ - _ _" required>
                        <button class="trainers__registration-button button" type="submit" formnovalidate>Записаться на
                            тренировку</button>
                    </form>
                </div>

            </li>

            <li class="programs__item">
                <img class="programs__image" src="images/programs/program5.jpg" alt="Стретчинг" width="315"
                    height="185">
                <h4 class="programs__title subtitle _anim-items">
                    Стретчинг
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>

                <div class="trainers__registration hidden" data-name="registration">
                    <button class="programs__registration-btn" type="button">
                        <svg class="programs__registration-icon">
                            <use xlink:href="images/sprite.svg#close"></use>
                        </svg>
                    </button>

                    <form class="trainers__registration-form" action="#" id="registration">
                        <label class="trainers__registration-label" for="name">Имя*</label>
                        <input class="trainers__registration-input" type="text" name="name" id="name"
                            placeholder="Например Алина" required minlength="3" maxlength="30">
                        <div class="span"></div>
                        <label class="trainers__registration-label" for="phone">Номер телефона*</label>
                        <input class="trainers__registration-input" type="tel" name="phone" id="phone"
                            placeholder="+38(_ _ _) _ _ _ - _ _ - _ _" required>
                        <button class="trainers__registration-button button" type="submit" formnovalidate>Записаться на
                            тренировку</button>
                    </form>
                </div>

            </li>

            <li class="programs__item">
                <img class="programs__image" src="images/programs/program1-6.jpg" alt="HIT-тренинг" width="315"
                    height="185">
                <h4 class="programs__title subtitle _anim-items">
                    HIT-тренинг
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>

                <div class="trainers__registration hidden" data-name="registration">
                    <button class="programs__registration-btn" type="button">
                        <svg class="programs__registration-icon">
                            <use xlink:href="images/sprite.svg#close"></use>
                        </svg>
                    </button>

                    <form class="trainers__registration-form" action="#" id="registration">
                        <label class="trainers__registration-label" for="name">Имя*</label>
                        <input class="trainers__registration-input" type="text" name="name" id="name"
                            placeholder="Например Алина" required minlength="3" maxlength="30">
                        <div class="span"></div>
                        <label class="trainers__registration-label" for="phone">Номер телефона*</label>
                        <input class="trainers__registration-input" type="tel" name="phone" id="phone"
                            placeholder="+38(_ _ _) _ _ _ - _ _ - _ _" required>
                        <button class="trainers__registration-button button" type="submit" formnovalidate>Записаться на
                            тренировку</button>
                    </form>
                </div>

            </li>

            <li class="programs__item">

                <img class="programs__image" src="images/programs/program1-6.jpg" alt="HIT-тренинг" width="315"
                    height="185">
                <h4 class="programs__title subtitle _anim-items">
                    HIT-тренинг
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>

                <div class="trainers__registration hidden" data-name="registration">
                    <button class="programs__registration-btn" type="button">
                        <svg class="programs__registration-icon">
                            <use xlink:href="images/sprite.svg#close"></use>
                        </svg>
                    </button>

                    <form class="trainers__registration-form" action="#" id="registration">
                        <label class="trainers__registration-label" for="name">Имя*</label>
                        <input class="trainers__registration-input" type="text" name="name" id="name"
                            placeholder="Например Алина" required minlength="3" maxlength="30">
                        <div class="span"></div>
                        <label class="trainers__registration-label" for="phone">Номер телефона*</label>
                        <input class="trainers__registration-input" type="tel" name="phone" id="phone"
                            placeholder="+38(_ _ _) _ _ _ - _ _ - _ _" required>
                        <button class="trainers__registration-button button" type="submit" formnovalidate>Записаться на
                            тренировку</button>
                    </form>
                </div>

            </li>

            <li class="programs__item">
                <img class="programs__image" src="images/programs/program2.jpg" alt="Пилатес" width="315" height="185">
                <h4 class="programs__title subtitle _anim-items">
                    Пилатес
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>

                <div class="trainers__registration hidden" data-name="registration">
                    <button class="programs__registration-btn" type="button">
                        <svg class="programs__registration-icon">
                            <use xlink:href="images/sprite.svg#close"></use>
                        </svg>
                    </button>

                    <form class="trainers__registration-form" action="#" id="registration">
                        <label class="trainers__registration-label" for="name">Имя*</label>
                        <input class="trainers__registration-input" type="text" name="name" id="name"
                            placeholder="Например Алина" required minlength="3" maxlength="30">
                        <div class="span"></div>
                        <label class="trainers__registration-label" for="phone">Номер телефона*</label>
                        <input class="trainers__registration-input" type="tel" name="phone" id="phone"
                            placeholder="+38(_ _ _) _ _ _ - _ _ - _ _" required>
                        <button class="trainers__registration-button button" type="submit" formnovalidate>Записаться на
                            тренировку</button>
                    </form>
                </div>

            </li>

            <li class="programs__item">
                <img class="programs__image" src="images/programs/program3.jpg" alt="Зумба" width="315" height="185">
                <h4 class="programs__title subtitle _anim-items">
                    Зумба
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>

                <div class="trainers__registration hidden" data-name="registration">
                    <button class="programs__registration-btn" type="button">
                        <svg class="programs__registration-icon">
                            <use xlink:href="images/sprite.svg#close"></use>
                        </svg>
                    </button>

                    <form class="trainers__registration-form" action="#" id="registration">
                        <label class="trainers__registration-label" for="name">Имя*</label>
                        <input class="trainers__registration-input" type="text" name="name" id="name"
                            placeholder="Например Алина" required minlength="3" maxlength="30">
                        <div class="span"></div>
                        <label class="trainers__registration-label" for="phone">Номер телефона*</label>
                        <input class="trainers__registration-input" type="tel" name="phone" id="phone"
                            placeholder="+38(_ _ _) _ _ _ - _ _ - _ _" required>
                        <button class="trainers__registration-button button" type="submit" formnovalidate>Записаться на
                            тренировку</button>
                    </form>
                </div>

            </li>

            <li class="programs__item">
                <img class="programs__image" src="images/programs/program4.jpg" alt="Табата" width="315" height="185">
                <h4 class="programs__title subtitle _anim-items">
                    Табата
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>

                <div class="trainers__registration hidden" data-name="registration">
                    <button class="programs__registration-btn" type="button">
                        <svg class="programs__registration-icon">
                            <use xlink:href="images/sprite.svg#close"></use>
                        </svg>
                    </button>

                    <form class="trainers__registration-form" action="#" id="registration">
                        <label class="trainers__registration-label" for="name">Имя*</label>
                        <input class="trainers__registration-input" type="text" name="name" id="name"
                            placeholder="Например Алина" required minlength="3" maxlength="30">
                        <div class="span"></div>
                        <label class="trainers__registration-label" for="phone">Номер телефона*</label>
                        <input class="trainers__registration-input" type="tel" name="phone" id="phone"
                            placeholder="+38(_ _ _) _ _ _ - _ _ - _ _" required>
                        <button class="trainers__registration-button button" type="submit" formnovalidate>Записаться на
                            тренировку</button>
                    </form>
                </div>

            </li>

            <li class="programs__item">
                <img class="programs__image" src="images/programs/program5.jpg" alt="Стретчинг" width="315"
                    height="185">
                <h4 class="programs__title subtitle _anim-items">
                    Стретчинг
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>

                <div class="trainers__registration hidden" data-name="registration">
                    <button class="programs__registration-btn" type="button">
                        <svg class="programs__registration-icon">
                            <use xlink:href="images/sprite.svg#close"></use>
                        </svg>
                    </button>

                    <form class="trainers__registration-form" action="#" id="registration">
                        <label class="trainers__registration-label" for="name">Имя*</label>
                        <input class="trainers__registration-input" type="text" name="name" id="name"
                            placeholder="Например Алина" required minlength="3" maxlength="30">
                        <div class="span"></div>
                        <label class="trainers__registration-label" for="phone">Номер телефона*</label>
                        <input class="trainers__registration-input" type="tel" name="phone" id="phone"
                            placeholder="+38(_ _ _) _ _ _ - _ _ - _ _" required>
                        <button class="trainers__registration-button button" type="submit" formnovalidate>Записаться на
                            тренировку</button>
                    </form>
                </div>

            </li>

            <li class="programs__item">
                <img class="programs__image" src="images/programs/program1-6.jpg" alt="HIT-тренинг" width="315"
                    height="185">
                <h4 class="programs__title subtitle _anim-items">
                    HIT-тренинг
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>

                <div class="trainers__registration hidden" data-name="registration">
                    <button class="programs__registration-btn" type="button">
                        <svg class="programs__registration-icon">
                            <use xlink:href="images/sprite.svg#close"></use>
                        </svg>
                    </button>

                    <form class="trainers__registration-form" action="#" id="registration">
                        <label class="trainers__registration-label" for="name">Имя*</label>
                        <input class="trainers__registration-input" type="text" name="name" id="name"
                            placeholder="Например Алина" required minlength="3" maxlength="30">
                        <div class="span"></div>
                        <label class="trainers__registration-label" for="phone">Номер телефона*</label>
                        <input class="trainers__registration-input" type="tel" name="phone" id="phone"
                            placeholder="+38(_ _ _) _ _ _ - _ _ - _ _" required>
                        <button class="trainers__registration-button button" type="submit" formnovalidate>Записаться на
                            тренировку</button>
                    </form>
                </div>

            </li>

        </ul>
        <button class="programs__load button" type="submit">Посмотреть все программы</button>
    </div>
</section>