<div class="header__banner slider">

    <h1 class="sr-only">Фитнесс-клуб Левел, прокачай свое тело!</h1>
    <button class="menu__content-button button slider__btn" type="button">на тренировку</button>
    <div class="slider-top swiper">
        <h2 class="sr-only">Специальные предложения</h2>
        <div class="slider-top__wrapper swiper-wrapper">

            <div class="slider-top__item swiper-slide">
                <img class="slider-top__image" src="images/image1.png" alt="фитнесс-модель" width="672" height="478">
                <div class="slider-top__content">
                    <h3 class="slider-top__title">
                        Более <span class="slider-top__title-num">20</span> различных
                        групповых программ
                    </h3>
                    <p class="slider-top__text">Огромный выбор групповых программ, которые проведут наши тренеры. Современный зал и позитивная атмосфера принесет не только пользу, но и доставит удовольствие от тренировок.</p>
                </div>
            </div>

            <div class="slider-top__item swiper-slide">
                <img class="slider-top__image" src="images/image1.png" alt="фитнесс-модель">
                <div class="slider-top__content">
                    <h3 class="slider-top__title">
                        Более <span class="slider-top__title-num">20</span> различных
                        групповых программ
                    </h3>
                    <p class="slider-top__text">Огромный выбор групповых программ, которые проведут наши тренеры. Современный зал и позитивная атмосфера принесет не только пользу, но и доставит удовольствие от тренировок.</p>
                </div>
            </div>

            <div class="slider-top__item swiper-slide">
                <img class="slider-top__image" src="images/image1.png" alt="фитнесс-модель">
                <div class="slider-top__content">
                    <h3 class="slider-top__title">
                        Более <span class="slider-top__title-num">20</span> различных
                        групповых программ
                    </h3>
                    <p class="slider-top__text">Огромный выбор групповых программ, которые проведут наши тренеры. Современный зал и позитивная атмосфера принесет не только пользу, но и доставит удовольствие от тренировок.</p>
                </div>
            </div>

        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>

    </div>



</div>