<section class="interior">
    <div class="container">
        <h2 class="interior__title title _anim-items" id="interior">
            приглашаем в гости
        </h2>
        <h3 class="interior__subtitle subtitle _anim-items" >
            Интерьер в фитнес-центре
        </h3>
        <ul class="interior__content">
            <li class="interior__item _anim-items">
                <img class="interior__image" src="../../images/interior/image1.jpg" alt="зал с гантелями" width="350" height="300">
            </li>
            <li class="interior__item _anim-items">
                <img class="interior__image" src="../../images/interior/image2.jpg" alt="зал для растяжки" width="350" height="300">
            </li>
            <li class="interior__item _anim-items">
                <img class="interior__image" src="../../images/interior/image3.jpg" alt="тренажерный зал" width="350" height="300">
            </li>
            <li class="interior__item _anim-items">
                <img class="interior__image" src="../../images/interior/image4.jpg" alt="тренажерный зал" width="350" height="300">
            </li>
            <li class="interior__item _anim-items">
                <img class="interior__image" src="../../images/interior/image5.jpg" alt="фитнесс-зал" width="350" height="300">
            </li>
            <li class="interior__item _anim-items">
                <img class="interior__image" src="../../images/interior/image6.jpg" alt="тренажерный зал" width="350" height="300">
            </li>
        </ul>
    </div>
</section>