<section class="programs about">
    <div class="container">
        <div class="about__inner">
            <div class="about__content">
                <h2 class="about__title title _anim-items" id="programs">
                    как будем работать
                </h2>
                <h3 class="about__subtitle subtitle _anim-items">
                    Наши программы
                </h3>
                <div class="about__text">
                    <p>У нас широкий и сбалансированный выбор тренировок. Разнообразие нагрузок поможет комплексно
                        развить тело и решить любые задачи.
                    </p>
                    <p>В основе всех тренировок — движение в трех плоскостях для наиболее эффективной и безопасной
                        активации тела! Тренируйтесь в мини-группе или приходите на индивидуальные занятия.</p>
                </div>
            </div>
            <div class="about__image">
                <img class="about__img" src="../../images/image6.jpg" alt="фитнесс-модель качает пресс" width="445"
                    height="303">
            </div>
        </div>

        <ul class="programs__content">

            <li class="programs__item">
                <img class="programs__image" src="../../images/programs/program1-6.jpg" alt="HIT-тренинг" width="315"
                    height="185">
                <h4 class="programs__title subtitle">
                    HIT-тренинг
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>

            </li>

            <li class="programs__item">
                <img class="programs__image" src="../../images/programs/program2.jpg" alt="Пилатес" width="315"
                    height="185">
                <h4 class="programs__title subtitle">
                    Пилатес
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>
            </li>

            <li class="programs__item">
                <img class="programs__image" src="../../images/programs/program3.jpg" alt="Зумба" width="315"
                    height="185">
                <h4 class="programs__title subtitle">
                    Зумба
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>
            </li>

            <li class="programs__item">
                <img class="programs__image" src="../../images/programs/program4.jpg" alt="Табата" width="315"
                    height="185">
                <h4 class="programs__title subtitle">
                    Табата
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>
            </li>

            <li class="programs__item">
                <img class="programs__image" src="../../images/programs/program5.jpg" alt="Стретчинг" width="315"
                    height="185">
                <h4 class="programs__title subtitle">
                    Стретчинг
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>
            </li>

            <li class="programs__item">
                <img class="programs__image" src="../../images/programs/program1-6.jpg" alt="HIT-тренинг" width="315"
                    height="185">
                <h4 class="programs__title subtitle">
                    HIT-тренинг
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>
            </li>

            <li class="programs__item">

                <img class="programs__image" src="../../images/programs/program1-6.jpg" alt="HIT-тренинг" width="315"
                    height="185">
                <h4 class="programs__title subtitle">
                    HIT-тренинг
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>

            </li>

            <li class="programs__item">
                <img class="programs__image" src="../../images/programs/program2.jpg" alt="Пилатес" width="315"
                    height="185">
                <h4 class="programs__title subtitle">
                    Пилатес
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>
            </li>

            <li class="programs__item">
                <img class="programs__image" src="../../images/programs/program3.jpg" alt="Зумба" width="315"
                    height="185">
                <h4 class="programs__title subtitle">
                    Зумба
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>
            </li>

            <li class="programs__item">
                <img class="programs__image" src="../../images/programs/program4.jpg" alt="Табата" width="315"
                    height="185">
                <h4 class="programs__title subtitle">
                    Табата
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>
            </li>

            <li class="programs__item">
                <img class="programs__image" src="../../images/programs/program5.jpg" alt="Стретчинг" width="315"
                    height="185">
                <h4 class="programs__title subtitle">
                    Стретчинг
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>
            </li>

            <li class="programs__item">
                <img class="programs__image" src="../../images/programs/program1-6.jpg" alt="HIT-тренинг" width="315"
                    height="185">
                <h4 class="programs__title subtitle">
                    HIT-тренинг
                </h4>
                <div class="programs__text">
                    <p>
                        Тренировка на мышцы ног и ягодиц,
                        с использованием резинок и отягощения
                        + 30 минут растяжка
                    </p>
                </div>
                <button class="programs__button button" type="submit">Записаться</button>
            </li>

        </ul>
        <button class="programs__load button" type="submit">Посмотреть все программы</button>
    </div>
</section>