<section class="trainers about">
    <div class="container">
        <div class="trainers__inner about__inner">
            <div class="about__content">
                <h2 class="about__title title _anim-items" id="trainers">
                    лучшие тренеры
                </h2>
                <h3 class="about__subtitle subtitle _anim-items">
                    Наш тренерский состав
                </h3>
                <div class="trainers__about about__text">
                    <p>Мы собрали команду настоящих профессионалов своего дела. Каждый тренер непрерывно
                        совершенствуется и повышает квалификацию. Благодаря многолетнему опыту и многопрофильному
                        образованию наших преподавателей каждое занятие выстраивается по новому сценарию, творчески и с
                        заботой о каждом клиенте.
                    </p>
                </div>
            </div>
            <div class="about__image">
                <img class="about__img" src="images/image7.jpg" alt="фитнесс-модель качает ноги" width="445"
                    height="303">
            </div>
        </div>


       <div class="swiper trainers__slider" data-mobile="false">

            <ul class="trainers__content programs__content swiper-wrapper">


                <li class="trainers__item programs__item swiper-slide">
                    <div class="trainers__slide">
                        <img class="trainers__image programs__image" src="images/trainers/trainer1.jpg"
                            alt="тренер" width="315" height="185">
                        <h4 class=" trainers__title programs__title subtitle _anim-items">
                            Иванов Андрей
                        </h4>
                        <div class="trainers__text programs__text">
                            <span>Мастер спорта. Специалист.</span>
                            <span>Профессионал. Красавчик.</span>
                        </div>
                    </div>
                </li>

                <li class="trainers__item programs__item swiper-slide">
                    <div class="trainers__slide">
                        <img class="trainers__image programs__image" src="images/trainers/trainer2-5.jpg"
                            alt="тренер" width="315" height="185">
                        <h4 class=" trainers__title programs__title subtitle _anim-items">
                            Варламова Екатерина
                        </h4>
                        <div class="trainers__text programs__text">
                            <span>Мастер спорта. Специалист.</span>
                            <span>Профессионал. Красавчик.</span>
                        </div>
                    </div>
                </li>

                <li class="trainers__item programs__item swiper-slide">
                    <div class="trainers__slide">
                        <img class="trainers__image programs__image" src="images/trainers/trainer3.jpg"
                            alt="тренер" width="315" height="185">
                        <h4 class=" trainers__title programs__title subtitle _anim-items">
                            Петров Николай
                        </h4>
                        <div class="trainers__text programs__text">
                            <span>Мастер спорта. Специалист.</span>
                            <span>Профессионал. Красавчик.</span>
                        </div>
                    </div>
                </li>

                <li class="trainers__item programs__item swiper-slide">
                    <div class="trainers__slide">
                        <img class="trainers__image programs__image" src="images/trainers/trainer4.jpg"
                            alt="тренер" width="315" height="185">
                        <h4 class=" trainers__title programs__title subtitle _anim-items">
                            Иванов Андрей
                        </h4>
                        <div class="trainers__text programs__text">
                            <span>Мастер спорта. Специалист.</span>
                            <span>Профессионал. Красавчик.</span>
                        </div>
                    </div>
                </li>

                <li class="trainers__item programs__item swiper-slide">
                    <div class="trainers__slide">
                        <img class="trainers__image programs__image" src="images/trainers/trainer2-5.jpg"
                            alt="тренер" width="315" height="185">
                        <h4 class=" trainers__title programs__title subtitle _anim-items">
                            Варламова Екатерина
                        </h4>
                        <div class="trainers__text programs__text">
                            <span>Мастер спорта. Специалист.</span>
                            <span>Профессионал. Красавчик.</span>
                        </div>
                    </div>
                </li>

                <li class="trainers__item programs__item swiper-slide">
                    <div class="trainers__slide">
                        <img class="trainers__image programs__image" src="images/trainers/trainer6.jpg"
                            alt="тренер" width="315" height="185">
                        <h4 class=" trainers__title programs__title subtitle _anim-items">
                            Петров Николай
                        </h4>
                        <div class="trainers__text programs__text">
                            <span>Мастер спорта. Специалист.</span>
                            <span>Профессионал. Красавчик.</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div> 

        <div class="trainers__registration">
            <h5 class="trainers__registration-title subtitle _anim-items">
                Начни свое преображение
            </h5>
            <div class="trainers__registration-block">
                <form class="trainers__registration-form" action="#">
                    <label class="trainers__registration-label" for="name">Имя</label>
                    <input class="trainers__registration-input" type="text" name="name" id="name"
                        placeholder="Например Алина" required minlength="2" maxlength="10">
                    <label class="trainers__registration-label" for="phone">Номер телефона</label>
                    <input class="trainers__registration-input" type="tel" name="phone" id="phone"
                        placeholder="+38(_ _ _) _ _ _ - _ _ - _ _" required>
                    <button class="trainers__registration-button button" type="submit" formnovalidate>Записаться на
                        тренировку</button>
                </form>
            </div>
        </div> 

    </div>
</section>